<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EventLogSource" value="Application Pool Monitoring Service"/>
    <add key="EventLogName" value="IIS App Pool"/>
    <add key="NotificationEmail" value=""/>
    <add key="CheckInterval" value="2"/>
    <add key="CertCheckInterval" value="10"/>
    <add key="NumFailures" value="5"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString=""/>
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.net>
    <mailSettings>
      <smtp from="" deliveryMethod="Network">
        <network host="" enableSsl="true" port="587" userName="" password="" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
